body {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 150%;
    background-color: #264D59;
    color:white;
  }
  
  h1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  h1.fade-in {
    opacity: 1;
  }